%section-title{
    color: title-text;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}
%hover-fill-time{
    transition-timing-function: $time-function;
    transition-duration: 250ms;
}